<div>
  <h1 style="text-align: center;">Info:</h1>

  <ul>
    <li>Argumentos de entrada: {{{processData.commandLineArgs}}}</li>
    <li>Sistema operativo: {{{processData.sistemaOperativo}}}</li>
    <li>Version de Node: {{{processData.nodeVersion}}}</li>
    <li>Memoria total reservada: {{{processData.memoriaRSS}}}</li>
    <li>Path de ejecucion: {{{processData.nodePath}}}</li>
    <li>Id de proceso: {{{processData.processId}}}</li>
    <li>Carpeta del proyecto: {{{processData.projectPath}}}</li>
    <li>Cantidad de nucleos: {{{cpuCount}}}</li>
  </ul>
</div>